<!DOCTYPE HTML>

<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Lista de usuarios</title>
</head>
<body>
    <h1>usuarios registrados:</h1>
    <table>
        <thead>            
        <tr>
            <th>Username</th>
            <th>Email</th>
        </tr>
        <tbody>
            {%for cliente in clientes%}
            <tr>
                <td>{{ cliente.username }} </td>
                <td>{{ cliente.email }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </thead>
    </table>

</body>
</html>
