{% extends 'base.html'  %}

{% block content %}
    {% for mensaje in get_flashed_messages() %}
    <div class="alert alert-success">
        <button type="button"
            class="close"
            data-dismiss="alert">
            &times;
        </button>
        {{mensaje}}
    </div>
    {% endfor %}
    <h1><center>Lista de clientes</center></h1>
    <table class="table table-hoover">
        <a href="/clientes/create" class="btn btn-info">
            Nuevo cliente
        </a>
        <thead>
            <tr> 
                <th>   
                    Nombre     
                </th>
                <th>
                    Contraseña
                </th>
                <th>
                    Email
                </th>
                <th>
                    Actualizar
                </th>
                <th>
                    Eliminar
                </th>
            </tr>
        <thead>
        <tbody>
            {% for cliente in clientes %}
            <tr>
                <td>
                    {{cliente.username}}
                </td>
                <td>
                    {{cliente.password}}
                </td>
                <td>
                    {{cliente.email}}
                </td>
                <td>
                    <a href="/clientes/update/{{cliente.id}}" class="btn btn-primary">
                        Editar
                    </a>
                </td>
                <td>
                    <a href="/clientes/delete/{{cliente.id}}" class="btn btn-danger">
                        Eliminar
                    </a>
                </td>
            </tr>
            {% endfor %}
        
        </tbody>
    </table>
{% endblock %}